// About Sections
#about {
	// About Unitracks Section
	&-unitracks {
		.about-info {
			display: flex;

			img {
				height: auto;
				width: 40%;
			}

			.bio {
				border-left: 4px solid $main-color;
				margin-left: 3rem;
				padding: 1rem;
				width: 90%;

				h3 {
					padding: 1rem;
				}

				p {
					text-align: justify;
					padding: 1rem;
				}
			}
		}
	}

	// About Stats Section
	&-stats {
		.stats {
			display: flex;

			&-title {
				font-size: 5rem;
				color: $main-color;
			}

			&-text {
				padding: 0.2rem 2rem;
			}
		}
	}

	// About Projects Section
	&-projects {
		.project-logos {
			display: flex;

			.logo {
				margin-right: 2rem;
				width: 100%;

				&:last-child {
					margin-right: 0;
				}

				img {
					height: 160px;
				}
			}
		}
	}

	// About Quotes Section
	&-quotes {
		.quotes {
			display: grid;
			grid-template-areas: 'quote1 quote2 quote3 quote4';
			grid-gap: 2rem;

			.quote {
				border: 1px solid $medium-color;
				border-radius: 5px;

				.quote-1 {
					grid-area: quote1;
				}
				.quote-2 {
					grid-area: quote2;
				}
				.quote-3 {
					grid-area: quote3;
				}
				.quote-4 {
					grid-area: quote4;
				}

				img {
					display: block;
					margin: 1rem auto;
					width: 135px;
					height: 135px;
					border-radius: 50%;
				}

				p {
					padding: 1rem;
				}
			}
		}
	}
}
