.module-title {
	color: #fff;
	padding-top: 0.5rem;
}

#question-container,
#answer-container {
	background-color: $medium-color;
}

#answer-container {
	height: 40vh;

	.answer-btn {
		display: block;
		margin: 2rem 0;
		width: 50%;

		&:focus {
			background-color: #93cb52;
			color: #333;
			outline-color: #93cb52;
		}
	}

	.instructions {
		p {
			line-height: 1.8;
		}

		.controls {
			display: block;
			text-align: center;

			#start-btn {
				margin: 2rem 0;
				text-align: start;
			}
		}
	}
}

.hide {
	display: none;
}

.btn-dark:hover {
	background-color: #93cb52;
	color: #333;
	outline-color: #93cb52;
}
