// Header
#header {
	&-home {
		background: #000 $bg-img no-repeat center right / cover;
		height: 90vh;
		color: #fff;

		// Header Overlay
		.header-overlay {
			height: 90vh;
			background-color: rgba(0, 0, 0, 0.7);
		}

		// Header Content
		.header-content {
			text-align: center;
			padding-top: 20%;

			h1 {
				font-size: 4rem;
				line-height: 1.2;
			}
		}
	}

	// Header Inner
	&-inner {
		background: #000 $bg-img no-repeat 20% 30% / cover;
		height: 5.5rem;
		border-bottom: 3px solid $main-color;
	}
}

.about-header-overlay {
	height: 5.5rem;
	background-color: rgba(0, 0, 0, 0.7);
}

// Home Sections
#home {
	&-benefits {
		.benefits {
			margin-top: 3rem;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(4, 1fr);

			.fas {
				color: $main-color;
				padding-bottom: 0.4rem;
			}
		}
	}

	// Available Tracks Section
	&-tracks {
		background: url('../img/tracks-bg.webp') no-repeat center center/cover;
		color: #fff;

		.container {
			.tracks-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 25vh;

				i {
					color: $main-color;
				}
			}
		}
	}

	&-use {
		.use {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1.5rem;
			text-align: center;

			&-icon {
				border-radius: 50%;
				background: $dark-color;
				color: #fff;
				padding: 2rem;
				width: 70px;
				height: 70px;
				line-height: 70px;
				text-align: center;
				position: relative;
			}

			&-step {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 28px;
				background-color: $main-color;
				border-radius: 50%;
				height: 15px;
				width: 15px;
				line-height: 15px;
				padding: 1rem;
			}
		}
	}
}
