// Login Page
.login-fields {
	label {
		text-align: left;
	}

	display: grid;
	grid-template-areas:
		'username'
		'password';
	grid-gap: 1.2rem;

	// Grid Areas
	.username {
		grid-area: username;
	}

	.pwd {
		grid-area: password;
	}
}
