#search-resources {
	.container {
		.results-title {
			font-size: 2rem;
		}

		.select-resource {
			display: flex;
			justify-content: center;
		}

		#___gcse_0 {
			form.gsc-search-box {
				font-family: $font-stack;
				font-size: 1rem;

				text-align: center;

				.gsc-input-box {
					border-radius: 5px;
					border-color: #333;
					padding: 0.2rem;
				}

				.cse .gsc-control-cse,
				.gsc-control-cse {
					padding: 1rem 0;
					width: auto;
				}

				.gsc-search-button-v2,
				.gsc-search-button-v2:hover,
				.gsc-search-button-v2:focus {
					border-color: #93cb52;
					background-color: #93cb52;
					padding: 0.8rem;
					width: 5rem;
					cursor: pointer;
				}

				.gsst_a .gscb_a {
					color: #333;
					cursor: pointer;
					padding: 0.2rem 0;
				}
			}
		}
	}
}
