#search-resources {
	.container {
		.results-title {
			font-size: 2rem;
		}

		// Select list
		#select-resource {
			display: flex;
			justify-content: center;

			.select-list {
				font-size: 16px;
				font-family: $font-stack;
				font-weight: 700;
				color: $dark-color;
				padding: 0.8rem;
				width: 40%;
				border: 1px solid #aaa;
				border-radius: 5px;
				background-color: #fff;

				&:hover {
					border-color: #888;
				}

				&:focus {
					border-color: #aaa;
					box-shadow: 0 0 1px 3px $main-color;
					box-shadow: 0 0 0 3px -moz-mac-focusring;
					color: #222;
				}

				option {
					font-weight: normal;
				}
			}
		}

		#___gcse_0 {
			// Hide elements from Google results
			.gsc-above-wrapper-area {
				display: none;
			}
			.gsc-adBlock {
				display: none;
			}
			.gsc-results .gsc-cursor {
				display: none;
			}
			.gcsc-more-maybe-branding-root {
				display: none;
			}

			form.gsc-search-box {
				font-family: $font-stack;
				font-size: 1rem;

				text-align: center;

				.gsc-input-box {
					border-radius: 5px;
					border-color: #333;
					padding: 0.2rem;
				}

				.cse .gsc-control-cse,
				.gsc-control-cse {
					padding: 1rem 0;
					width: auto;
				}

				.gsc-search-button-v2,
				.gsc-search-button-v2:hover,
				.gsc-search-button-v2:focus {
					border-color: #93cb52;
					background-color: #93cb52;
					padding: 0.9rem;
					width: 5rem;
					cursor: pointer;
				}

				.gsst_a .gscb_a {
					color: #333;
					cursor: pointer;
					padding: 0.2rem 0;
				}
			}
		}
	}
}
