// Signup Page
#signup {
	p.lead {
		text-align: center;
	}

	.signup-fields {
		label {
			text-align: left;
			display: block;
			margin-bottom: 0.2rem;
		}

		display: grid;
		grid-template-areas:
			'username'
			'email'
			'password'
			'comfirm-password'
			'account';

		// Grid Areas
		.username {
			grid-area: username;
		}
		.email {
			grid-area: email;
		}
		.pwd {
			grid-area: password;
		}
		.confirm-pwd {
			grid-area: comfirm-password;
		}
		.account {
			grid-area: account;
		}
	}
}
