// Search
.search {
	.search-input {
		width: 30rem;
	}
}

// Track
#tracks-catalog {
	#tracks {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(3, 1fr);

		.track {
			display: grid;
			text-align: center;
			position: relative;
			color: #fff;

			&-text {
				width: 100%;
				position: relative;
				margin-top: -45%;

				a.btn-light {
					margin: 2rem 0;
				}
			}
		}
	}
}
