// iPad Pro Tablet Portrait
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	#header {
		&-home {
			background: #000 $bg-img no-repeat center center / cover;
			height: 50vh;

			// Header Overlay
			.header-overlay {
				height: 50vh;
			}
		}
	}
}

// iPad Pro Tablet Landscape
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) {
	#header {
		&-home {
			background: #000 $bg-img no-repeat center center / cover;
			height: 90vh;

			// Header Overlay
			.header-overlay {
				height: 90vh;
			}
		}
	}
}

// Tablets and Smaller
@media (max-width: 800px) {
	// Home page header
	#header-home {
		height: 30rem;

		.header-overlay {
			height: 30rem;
		}

		.header-content {
			padding-top: 5rem;
		}
	}

	// Available Tracks Section
	#home {
		&-tracks {
			.container {
				.tracks-container {
					p {
						font-size: 0.8rem;
					}
				}
			}
		}
	}

	#about {
		&-unitracks {
			.about-info {
				img {
					display: none;
				}

				.bio {
					margin: 0;
					width: 100%;
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1 quote2'
					'quote3 quote4';

				.quote {
					img {
						height: 170px;
					}
				}
			}
		}
	}
}

// Smartphones
@media (max-width: 480px) {
	// Nav Bar
	#main-nav {
		flex-direction: column;
		align-items: center;

		li {
			padding: 1rem;
		}
	}

	// Home page header
	#header-home {
		height: 12rem;
		border-bottom: 3px solid $main-color;
		background-position: 20% 30%;

		.header-overlay {
			height: 12rem;
		}

		.header-content {
			display: none;
		}
	}

	// Header Inner
	#header-inner {
		height: 12rem;

		.about-header-overlay {
			height: 12rem;
		}
	}

	// Stack Grid Columns
	#home-benefits .benefits,
	#home-use .use,
	#tracks-catalog #tracks {
		grid-template-columns: 1fr;
	}

	// Home Page Sections
	#home {
		&-benefits {
			.benefits div {
				border-bottom: 1px solid $light-color;
				padding-bottom: 1rem;

				&:last-child {
					border: none;
					padding-bottom: 0;
				}
			}
		}

		// Available Tracks Section
		&-tracks {
			.section-title {
				font-size: 1.6rem;
			}

			.lead {
				padding: 0;
				margin-bottom: 1rem;
				font-size: 1rem;
			}
			.container {
				.tracks-container {
					display: block;
					height: 85vh;

					.track {
						padding-top: 1rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid #ccc;

						&:last-child {
							border-bottom: none;
						}

						h2 {
							padding: 0.5rem 0;
						}
					}
				}
			}
		}
	}

	// About Page
	#about {
		// Stats Section
		&-stats {
			.stats {
				display: block;

				.stat {
					border-bottom: 1px solid #f4f4f4;
				}

				&-text {
					padding-bottom: 1rem;
				}
			}
		}

		// Projects Section
		&-projects {
			.project-logos {
				display: block;

				.logo {
					margin-bottom: 2rem;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1'
					'quote2'
					'quote3'
					'quote4';
			}
		}
	}

	// Login
	#login {
		.form-container {
			#signin {
				margin-bottom: 3rem;
			}
		}
	}

	// Signup
	#signup {
		.form-container {
			#login {
				margin-bottom: 3rem;
			}
		}
	}

	// Search Input on Tracks Page
	.search {
		input[type='text'] {
			width: 15rem;
		}

		.search-btn {
			padding: 0.8rem 1.4rem;
		}
	}
}

// Smartphone Landscape
@media (max-height: 580px) {
	#header-home {
		.header-content {
			padding-top: 3rem;

			h1 {
				font-size: 3rem;
			}
		}
	}

	// Home
	#home {
		// Benefits Section
		&-benefits {
			.benefits {
				margin-top: 2rem;

				h3,
				p {
					text-align: left;
				}

				h3 {
					font-size: 1rem;
				}

				.fas {
					padding-bottom: 0.2rem;
				}
			}
		}

		// Available Tracks Section
		&-tracks {
			.container {
				.tracks-container {
					height: 45vh;
				}
			}
		}

		// Use Section
		&-use {
			.use {
				div {
					text-align: left;

					h3 {
						font-size: 1rem;
					}
				}
			}
		}
	}

	// About Sections
	#about {
		&-unitracks {
			.about-info {
				img {
					display: none;
				}

				.bio {
					margin: 0;
					width: 100%;
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1 quote2'
					'quote3 quote4';

				.quote {
					img {
						height: 170px;
					}
				}
			}
		}
	}

	// Track
	#tracks-catalog {
		#tracks {
			grid-gap: 0.5rem;

			.track {
				&-text {
					margin-top: -60%;
					font-size: 0.8rem;
				}
			}
		}
	}

	// Login
	#login {
		.form-container {
			#signin {
				margin-bottom: 3rem;
			}
		}
	}

	// Signup
	#signup {
		.form-container {
			#login {
				margin-bottom: 3rem;
			}
		}
	}
}
