@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	.container {
		max-width: 1100px;
	}
	#start-btn {
		margin: 0.1rem 0 4rem 0;
	}
	#question-container {
		padding: 1rem 0;
	}
	#question-container .title {
		font-size: 1.5rem;
	}
	#answer-container {
		margin: 1.6rem 0;

		&:last-child {
			margin-bottom: 5rem;
		}
	}
	// Progress Footer
	#footer {
		padding: 1rem 0;
	}
	#tracks-catalog #tracks .track-text {
		margin-top: -50%;
	}
	#report-table {
		padding: 1rem 0;
	}
}

// Tablets and Smaller
@media (max-width: 800px) {
	// Home page header
	#header-home {
		height: 30rem;

		.header-overlay {
			height: 30rem;
		}

		.header-content {
			padding-top: 5rem;
		}
	}

	// Available Tracks Section
	#home {
		&-tracks {
			.container {
				.tracks-container {
					p {
						font-size: 0.8rem;
					}
				}
			}
		}
	}

	#about {
		&-unitracks {
			.about-info {
				img {
					display: none;
				}

				.bio {
					margin: 0;
					width: 100%;
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1 quote2'
					'quote3 quote4';
			}
		}
	}

	// Track
	#tracks-catalog {
		#tracks {
			.track {
				&-text {
					margin-top: -70%;
					a.btn-light {
						margin: 0.5rem 0;
					}
				}
			}
		}
	}
}

// Smartphones
@media (max-width: 480px) {
	// Nav Bar
	#main-nav {
		flex-direction: column;
		align-items: center;

		li {
			padding: 1rem;
		}
	}

	// Home page header
	#header-home {
		height: 12rem;
		border-bottom: 3px solid $main-color;
		background-position: 20% 30%;

		.header-overlay {
			height: 12rem;
		}

		.header-content {
			display: none;
		}
	}

	// Header Inner
	#header-inner {
		height: 12rem;

		.about-header-overlay {
			height: 12rem;
		}
	}

	// Stack Grid Columns
	#home-benefits .benefits,
	#home-use .use,
	#tracks-catalog #tracks {
		grid-template-columns: 1fr;
	}

	// Home Page Sections
	#home {
		&-benefits {
			.benefits div {
				border-bottom: 1px solid $light-color;
				padding-bottom: 1rem;

				&:last-child {
					border: none;
					padding-bottom: 0;
				}
			}
		}

		// Available Tracks Section
		&-tracks {
			.section-title {
				font-size: 1.6rem;
			}

			.lead {
				padding: 0;
				margin-bottom: 1rem;
				font-size: 1rem;
			}
			.container {
				.tracks-container {
					display: block;
					height: 85vh;

					.track {
						padding-top: 1rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid #ccc;

						&:last-child {
							border-bottom: none;
						}

						h2 {
							padding: 0.5rem 0;
						}
					}
				}
			}
		}
	}

	// About Page
	#about {
		// Stats Section
		&-stats {
			.stats {
				display: block;

				.stat {
					border-bottom: 1px solid #f4f4f4;
				}

				&-text {
					padding-bottom: 1rem;
				}
			}
		}

		// Projects Section
		&-projects {
			.project-logos {
				display: block;

				.logo {
					margin-bottom: 2rem;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1'
					'quote2'
					'quote3'
					'quote4';
			}
		}
	}

	// Welcome image on instructor and student page
	.welcome-img {
		padding-bottom: 3rem;
	}

	// Track
	#tracks-catalog {
		#tracks {
			.track {
				&-text {
					margin-top: -55%;
					a.btn-light {
						margin: 1rem 0;
					}
				}
			}
		}
	}

	// Login
	#login {
		.form-container {
			#signin {
				margin-bottom: 3rem;
			}
		}
	}

	// Signup
	#signup {
		.form-container {
			#login {
				margin-bottom: 3rem;
			}
		}
	}

	// Search Input on Tracks Page
	.search {
		input[type='text'] {
			width: 15rem;
		}

		.search-btn {
			padding: 0.8rem 1.4rem;
		}
	}

	// Assessment
	#header-inner.assessment-header {
		height: 8rem;
	}

	.loader {
		font-size: 35px;
	}

	#question-container {
		padding: 0.8rem 0;
		.container {
			display: block;
		}

		.title {
			font-size: 1.5rem;
		}

		#audio-btn {
			margin: 1rem 0;
		}
	}

	#answer-container {
		margin: 0 0 4rem 0;

		.answer-btn {
			margin: 1rem 0;
			width: 100%;

			&:first-child {
				margin-top: 1rem;
			}

			&:last-child {
				margin-bottom: 2rem;
			}
		}

		.instructions {
			margin-top: 1rem;
			font-size: 1.2rem;
		}
	}

	// Assessment Results
	#results-container {
		.container {
			.assessment-text {
				padding: 0.8rem;
			}

			.score-breakdown {
				font-size: 1.5rem;
			}
		}
		.skills-breakdown {
			display: block;

			#correct,
			#wrong {
				width: 100%;
			}

			#wrong {
				ul {
					li {
						&:last-child {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}

	// Progress footer
	#footer {
		padding: 0.5rem;

		.footer-progress {
			height: 3rem;

			#progress {
				display: none;
			}
		}
	}

	// Resource Page
	#search-resources {
		.container {
			.results-title {
				font-size: 2rem;
			}

			// Select list
			#select-resource {
				display: block;

				.select-list {
					width: 100%;
				}
			}

			#___gcse_0 {
				.cse .gsc-control-cse,
				.gsc-control-cse {
					padding: 0;
					width: 100%;
				}
				.gsc-search-box-tools .gsc-search-box .gsc-input {
					padding-right: 1rem;
				}

				.gcsc-find-more-on-google-root {
					display: none;
				}

				form.gsc-search-box {
					font-family: $font-stack;
					font-size: 1rem;

					text-align: center;

					.gsc-input-box {
						border-radius: 5px;
						border-color: #333;
						padding: 0.2rem;
					}

					.gsc-search-button-v2,
					.gsc-search-button-v2:hover,
					.gsc-search-button-v2:focus {
						border-color: #93cb52;
						background-color: #93cb52;
						padding: 0.9rem;
						width: 5rem;
						cursor: pointer;
					}

					.gsst_a .gscb_a {
						color: #333;
						cursor: pointer;
						padding: 0.2rem 0;
					}
				}
			}
		}
	}

	#report-table {
		padding: 0 0 5rem 0;
	}

	// Video on module-section pages
	section#track-section {
		iframe {
			display: block;
			width: 100%;
			height: 315px;
			margin-left: 0;
		}

		.controls {
			flex-direction: column;
			padding: 0;

			.control-btn {
				margin-bottom: 1rem;
			}

			a {
				width: 130px;
				text-align: center;
				margin-bottom: 1rem;
			}
		}
	}
}

// Smartphone Landscape
@media (max-height: 580px) {
	#header-home {
		.header-content {
			padding-top: 3rem;

			h1 {
				font-size: 3rem;
			}
		}
	}

	// Home
	#home {
		// Benefits Section
		&-benefits {
			.benefits {
				margin-top: 2rem;

				h3,
				p {
					text-align: left;
				}

				h3 {
					font-size: 1rem;
				}

				.fas {
					padding-bottom: 0.2rem;
				}
			}
		}

		// Available Tracks Section
		&-tracks {
			.container {
				.tracks-container {
					height: 45vh;
				}
			}
		}

		// Use Section
		&-use {
			.use {
				div {
					text-align: left;

					h3 {
						font-size: 1rem;
					}
				}
			}
		}
	}

	// About Sections
	#about {
		&-unitracks {
			.about-info {
				img {
					display: none;
				}

				.bio {
					margin: 0;
					width: 100%;
				}
			}
		}

		// About Quotes Section
		&-quotes {
			.quotes {
				grid-template-areas:
					'quote1 quote2'
					'quote3 quote4';
			}
		}
	}

	// Track
	#tracks-catalog {
		#tracks {
			grid-gap: 0.5rem;

			.track {
				&-text {
					margin-top: -60%;
					font-size: 0.8rem;
				}
			}
		}
	}

	// Login
	#login {
		.form-container {
			#signin {
				margin-bottom: 3rem;
			}
		}
	}

	// Signup
	#signup {
		.form-container {
			#login {
				margin-bottom: 3rem;
			}
		}
	}
}
