// Footer
// Need to fix this footer as it does not stick to the bottom when there is not enough content on the page
#main-footer {
	background: $dark-color;
	color: #fff;
	height: 4rem;

	.footer-content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4rem;
	}
}
