.table {
	border: 1px solid $main-color;
	margin: 1rem auto;
	overflow: hidden;
	width: 800px;
}

#report-table {
	padding: 3rem 0;
}

table#report {
	width: 100%;
	text-align: center;

	td,
	th {
		color: #000;
		padding: 10px;
	}

	th {
		background-color: $main-color;
		font-weight: 300;
	}

	.light-row {
		background-color: $light-color;
	}
	.medium-row {
		background-color: $medium-color;
	}
}
